@use '../variables' as v;
@use '../mixins/breakpoints' as b;

.img-left {

    @include b.screen-size('md') {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        min-height: 70dvh;
    }

    &__container {

        @include b.screen-size('md') {
            display: flex;
            flex-flow: column;
            justify-content: center;
        }
    }

    &__img {

        @include b.screen-size('md') {
            grid-column : 1/2;
            grid-row: 1/2;
            height: 100%;
        }
    }
}